.welcome {
  &-bg {
    background: center center no-repeat linear-gradient(124deg, #7879F1 35%, rgba(239, 93, 168, 0.95) 40.88%, rgba(165, 166, 246, 0.84) 49.48%, rgba(93, 95, 239, 0.97) 59.04%, #F178B6 68%);
    width: 100vw;
    height: 100vh;
  }
}
